<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.up.fe.alpha" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:name=".labtablet.application.LabTablet"
        android:versionCode="16"
        android:versionName="Tango"
        >

        <service
            android:name="org.acra.sender.SenderService"
            android:exported="false"
            android:process=":acra" />

        <activity
            android:name=".labtablet.activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".labtablet.activities.FavoriteDetailsActivity"
            android:theme="@style/AppBaseTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_favorite_detail" />

        <activity
            android:name=".labtablet.activities.DescriptorPickerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_descriptor_picker" >
        </activity>
        <activity
            android:name=".labtablet.activities.FieldModeActivity"
            android:label="@string/title_activity_field_mode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".labtablet.activities.FingerPaintActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_finger_paint" >
        </activity>
        <activity
            android:name=".labtablet.activities.ValidateMetadataActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_validate_metadata"
            android:parentActivityName=".labtablet.activities.FieldModeActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".labtablet.activities.FieldModeActivity" />
        </activity>
        <activity
            android:name=".labtablet.activities.SubmissionValidationActivity"
            android:label="@string/title_activity_submission_validation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".labtablet.activities.FormQuestionCreatorActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_form_question_creator"
            >
        </activity>
        <activity
            android:name=".labtablet.activities.FormSolverActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_form_question_creator"
            >
        </activity>
        <activity
            android:name=".labtablet.activities.ItemPreviewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_item_preview"
            >
        </activity>
    </application>

</manifest>
