<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.up.fe.labtablet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:name="pt.up.fe.labtablet.application.LabTablet"
        >
        <activity
            android:name="pt.up.fe.labtablet.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.up.fe.labtablet.activities.DescriptorPickerActivity"
            android:label="@string/title_activity_descriptor_picker" >
        </activity>
        <activity
            android:name="pt.up.fe.labtablet.activities.FieldModeActivity"
            android:label="@string/title_activity_field_mode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.up.fe.labtablet.activities.FingerPaintActivity"
            android:label="@string/title_activity_finger_paint" >
        </activity>
        <activity
            android:name="pt.up.fe.labtablet.activities.ValidateMetadataActivity"
            android:label="@string/title_activity_validate_metadata"
            android:parentActivityName="pt.up.fe.labtablet.activities.FieldModeActivity"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="FieldModeActivity" />
        </activity>
        <activity
            android:name="pt.up.fe.labtablet.activities.SubmissionValidationActivity"
            android:label="@string/title_activity_submission_validation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="pt.up.fe.labtablet.activities.FormQuestionCreatorActivity"
            android:label="@string/title_activity_form_question_creator"
            >
        </activity>
    </application>

</manifest>
